*{
    padding: 0;
margin: 0;
box-sizing: border-box;

}



/* section1 styles */




.hero{display: flex;
justify-content: space-between;
font-size: 1.5rem;


}
.hero ul{
    display: flex;
list-style: none;



}
.hero ul li{
    padding: 1em;
}



.container{

width: 80%;
margin: 0 auto;
}




.hero-first{
display: flex;
/* background-color: aqua; */
justify-content: space-between;
}

.text-pic{
    display: flex;
    justify-content:space-between;
align-items: center;

}
.none ul{
    display: flex;

}
.none ul li{
    padding-right: 3em;
    list-style:none ;
    font-size: 1.5rem;

}
.button{
    margin-left:  1250px;
}
.shake-up{
    background-color:#2D3E50;
    display: flex;
justify-content: center;
padding: 3em;
    font-size: x-large;
/* margin-bottom: 2em; */
}
    .span{
        text-transform: capitalize;
        font-style: italic;
        
    }

    .btn1{
        padding:1em;
font-size: x-large;
border-radius: 4%;
margin-left:3em;


 }
 .btn2{
background-color: orangered;
font-size:larger;
padding: 2em;
margin-bottom: 2em;
border-radius: 4%;

 }
 .text1{

 }

















/* section2 styles*/






/* section3 styles */



.section-3{
    background-color:white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 7em;



}

.button{
    background-color: #ff7a59;
    border: none;


}

.contents{
margin-left:100px;
margin-top: 50px;
}




.button{

    padding: 4em;
    width: 400px;
    
}


.section-content{
display: flex;
justify-content: space-between;
width: 100%;

}


.logo-20{
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
flex-direction: row;
width: 50%;
margin: 0 4em;
align-items: center;


}

footer{

    background-color:#2D3E50 ;


}

.footer-container {
    display: flex;
    padding: 1em;

}

.popular-content{
    display: flex;
}



.popular-content ul li a{
color: white;
}


.popular h4 a{
color: white;

}


.popular{
border-right:1px solid  white;
padding: 1em;


}





footer h4 a{

    color: white;
    padding-left: 2.5em;
}



footer ul li{
list-style-type: none;
padding: 0.5em 0;
}

footer ul li a{

    text-decoration: none;
}





.free-tools ul li a{
color: white;

}


.Customer-tools ul li a{
color: white;

}


.Company-tools ul li a{
color: white;

}



.partner-tools ul li a{

    color: white;
}


